@font-face {
    font-family: 'capsuularegular';
    src: url('Capsuula-webfont.eot');
    src: url('Capsuula-webfont.eot?#iefix') format('embedded-opentype'),
        url('Capsuula-webfont.woff2') format('woff2'),
        url('Capsuula-webfont.woff') format('woff'),
        url('Capsuula-webfont.ttf') format('truetype'),
        url('Capsuula-webfont.svg#capsuularegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    width: 100%;
    display: block;
    font-family: 'capsuularegular';
}

html,
body {
    margin: 0;
    padding: 0;
}

#page {
    display: flex;
}

.qui {
    background-color: #FECA07;
    width: 20%;
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
}
.profil p {
    padding: 0% 5% 0% 5%;
}

.contenu {
    width: 80%;
    margin-left: 2%;
    margin-top: 10%;
    margin-right: 2%;
}

.block {
    border-top: 2px aqua ridge;
    padding-top: 2%;
    border-color: #FECA07;
}

h1 span {
    color: #FFD400;
}

h1 {
    text-align: center;
}

h2 {
    margin-left: 15px;
}

h3 {
    color: #FECA07;
    background-color: #404040;
    text-align: center;
}

h4 {
    text-align: center;

}

.qui p {
    text-align: center;
}

.qui i[class*="fa"] {
    
    margin-right: 5%;
    margin-left: 5%;
}
.contenu i[class*="fa"] {
    margin-right: 5%;
    color: #FECA07;
}

span {
    text-align: center;
}

.date,
.desc {
    display: inline-block;
    vertical-align: top;
    margin-top: 2%;
}

.date {
    width: 20%;
    margin-right: 3%;
}

.loisirs {
    text-align: center;
}

.diplome {
    font-style: italic;
}

img {
    max-width: 80%;
    height: auto;
    margin: 2% auto 2% auto;
}

.mail {
    word-wrap: break-word;
}

.size {
    display: none;
}
.mob {
    display: none;
}
@media all and (max-device-width: 1280px) {
    .size {
        display: inherit;
        margin-left: 5px;
    }

    .date,
    .cancel {
        display: none;
    }

    .qui {
        background-color: #FFD400;
        width: 30%;
        min-height: 100%;
        display: flex;
        flex-direction: column;
    }

    .contenu {
        width: 70%;
        margin-left: 2%;
        margin-top: 10%;
        margin-right: 2%;
    }

    body {
        font-size: 0.9em;
    }

    .mail {
        font-size: 0.85em;
    }
}

@media all and (max-device-width: 750px) {
    
    .contacts, i {
        display: flex;
        flex-direction: row;
    }
    .contacts, a {
       hyphens: none;
    }
    img {
        display: none;
    }
    #page {
        min-height: 100%;
        display: flex;
        flex-direction: column-reverse;
    }
    .size {
        display: inherit;
        margin-left: 5px;
    }

    .date {
        display: none;
    }
    .contenu {
        width: 100%;
        max-height: 80%;
    }

    .qui {
        background-color: #FFD400;
        width: 100%;
        min-height: 20%;
        display: inline-block;
        flex-direction: row;
    }

    .contenu {
        min-width: 100%;
    }
    
    .block {
        margin: 0% 5% 0% 5%;
    }

    body {
        font-size: 1em;
        display: flex;
        flex-direction: column;
    }

    .contacts {
        font-size: 0.8em;
    }
    .pc {
        display: none;
    }
    .mob {
        display: inherit;
    }
}
